/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 20, 2015, 9:58:46 AM
    Author     : jobayer
*/

/* ==========================================
====================Reset Start==============
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ==========================================
====================Reset End==============
*/
body{
    background-color:gainsboro;
}
#canvas{
    width: 100%;
    height:100vh;
    background-color: blanchedalmond;
    position: relative;
}

#canvas h1{
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    color:black;
    text-align: center;
    display: block;
    padding:5px 0px;
    border-bottom: 2px solid black;
    font-style: italic;
}
#canvas #mysvg{
    width:65%;
    height:85%;
    background-color: cadetblue;
    margin-left:55px;
    margin-top:10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px black;
    overflow: scroll;
    position:relative;
    
}
#mysvg svg{
    display: inline-block;
    position:absolute;
}
#shapes{
    width: 100%;
    display:inline-block;
    background-color: brown;
    margin-top:0px;
    text-align: center;
    
}
#shapes a{
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 2em;
    border-right: 1px solid gray;
    padding-right:12px;
    text-align: left;
}
#shapes a:last-child{
     border-right:none;
}

#mposition{
    width:25%;
    background-color:inherit;
    display:inline-block;
    vertical-align:top;
    margin-left: 10px;
}
#mposition h3{
    margin-top: 5px;
    margin-bottom: 5px;
}


circle{
    z-index:1;
    position:relative;
}
#maptext{
    overflow:scroll;
    width:100%;
    height:120px;
    display: inline-block;
    
    
}

text{
    position:absolute;
    font-weight:bold;
    text-align:center;
    color:white;
    
}